.main-container {
    gap: 1em;
    width: 60%;
    margin: 0 auto;
    .user-list {
        overflow: auto;
        height: 70vh;
        width: 30%;
        border: 1px solid #e0e0e0e0;
        .user {
            border-bottom: 1px solid #e0e0e0e0;
        }
        .user:hover {
            cursor: pointer;
        }
    }

    .card {
        width: 70%;
        padding: 0;
        border-radius: 0;
        .card-body {
            height: 50vh;
            overflow: auto;
            .chat-body {
                .message-container {
                    background-color: #e0e0e0;
                    padding: 7px;
                    border-radius: 5px;
                    max-width: 90%;
                    margin-bottom: 15px;
                }
                .other-user {
                    display: flex;
                    justify-content: flex-start;
                }
                .same-user {
                    display: flex;
                    justify-content: flex-end;

                    .message-container {
                        background-color: lightskyblue;
                    }
                }
            }
        }
        .footer {
            border-top: 1px solid #e0e0e0e0;
            form {
                display: flex;
                gap: 1em;
                button {
                    border-radius: 5%;
                    font-family: Arial, Helvetica, sans-serif;
                    border: 1px solid black;
                    width: 15%;
                    float: right;
                    transition: 0.3s;
                }
                button:hover {
                    background-color: #e0e0e0e0;
                }
            }
        }
    }
}

//User

.container-experto {
    width: 65%;
    margin: 0 auto;
    .card-experto {
        margin: 0 auto;
        width: 70%;
        padding: 0;
        border-radius: 0;
        .card-body-experto {
            height: 50vh;
            overflow: auto;
            .chat-body {
                .message-container {
                    background-color: #e0e0e0;
                    padding: 7px;
                    border-radius: 5px;
                    max-width: 90%;
                    margin-bottom: 15px;
                }
                .other-user {
                    display: flex;
                    justify-content: flex-start;
                }
                .same-user {
                    display: flex;
                    justify-content: flex-end;

                    .message-container {
                        background-color: lightskyblue;
                    }
                }
            }
        }
        .footer-experto {
            border-top: 1px solid #e0e0e0e0;
            form {
                display: flex;
                gap: 1em;
                button {
                    border-radius: 5%;
                    font-family: Arial, Helvetica, sans-serif;
                    border: 1px solid black;
                    width: 15%;
                    float: right;
                    transition: 0.3s;
                }
                button:hover {
                    background-color: #e0e0e0e0;
                }
            }
        }
    }
}
