.container {
    height: 100vh;
}

.alert-container {
    width: 20%;
    text-align: center;
    margin: 0 auto;
}

#button-form {
    padding-top: 3%;
}

.btn {
    background-color: #000;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}

form{
    width: 50%;
    margin: 0 auto;
}